.download {
    width: 20%;
    margin-left: 40%;
}

.our-story-card-video {
    position: absolute;
    right: 12vw;
    z-index: 0;
    width: 32%;
    margin-top: 7%;
}

.logo a img{
    z-index: 100;
}